html {
    text-align: center;
    
}


.content h2 {
    margin: 30px 30px 30px 30px;
}
.abm {
    height: 500px;
}






/* i can do */



.skill {
    height: 700px;
    width: 1000px;

    margin-left: auto;
    margin-right: auto;

}

.skill ol {
    list-style: none;
}

.skill li {
    float: left;
}


.skill ol li img {
    list-style: none;
    width: 120px;
    height: 130px;
    
}



body #title{
    
    margin-top: 300px;
    height: 800px;
    width: auto;
    font-size: 8rem;
}


body {
    position: absolute;
    height: 800px;
    width: auto;
}

/* 스크롤 */

[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
    opacity: 1;
    transform: translateY(0) scale(1);
}

[data-scroll='out'] {
    opacity: 0;
}



body .study {
    height: 1000px;
    width: auto;
}





/*portfolio*/


body .Portfolio {
    height: 700px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: Flex;
    
    
}

body .btn-primary {
    background-color: #8C5F0B;
    border: none;
}

body .btn-primary:hover {
    background-color: #F2CD13;
    color: #8C5F0B;
    
}






/* 디자인 */

body .DESIGN {
    height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: Flex;

}


body .DESIGN img {
    /* height: 300px;
    width: 300px; */
    padding: auto;
    /* display: Flex; */
   
}